<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="smoke"/>
        </run>
    </groups>
    <test verbose="2" preserve-order="true" name="C:/Users/Admin/IdeaProjects/MavenProject">
        <classes>
            <class name="TestNGPackage.BeforeAfterClassExample"/>
            <class name="TestNGPackage.BeforeAfterMethodExample"/>
        </classes>
    </test>
</suite>